*{
	padding: 0px;
	margin: 0px;
}
#container1{
	width: 1200px;
	margin: auto;
	height: 80px;
}
#logo{
	width: 200px;
	height: 50px;
	float: left;
}
#nav-bar{
	width: 990px;
	height: 100px;
	float: left;
}
#wrapper-1{
	width: 700px;
	height: 100px;
	margin-left: 300px;
	color: #333333;
	font-weight: 700;
	font-size: 16px;
	font-family: arial;
}
#wrapper-1 ul {
	list-style: none;
	text-transform: uppercase;
	text-align: center;
}
#wrapper-1 ul li {
	width: 200px;
	height: 40px;
	display:inline-block;
	margin-top:10px; 
}
#wrapper-1 ul li a{
	text-decoration: none;
	text-align: center;
	color: #333333;
	padding: 10px;
	line-height: 40px;

}
#wrapper-1 ul li :hover{
	border-bottom: 5px solid red;
}



#container2{
	width: 1200px;
	height: 700px;
	margin: auto;
}
#wrapper-2{
	width: 500px;
	height: 650px;
	float: left;
	margin: 0px;
}

#wrapper-2_1{
	width: 650px;
	height: 650px;
	float: left;
	margin: auto;
}
#wrapper-2_1_a{
	width: 600px;
	height: 400px;
	margin: auto;
	margin-top: 80px;
}
#search-form{
	background-color: #DF4242;
	color:white;
	width: 600px;
	height: 262px;
	position: absolute;
}
#search-form1{
	margin: auto;
	width: 400px;
	height: 262px;
	margin-top: 10px;
	font-weight: bold;
	position: relative;
}
#option{
	border: 1px solid black;
	border-radius: 2px;
	width: 140px;
	margin-left: 40px;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
	margin-top: 11px;
	padding: 0px;
}
#submit{
		width: 100px;
		height: 35px;
		margin-left:162px;
		border-radius: 8px 8px 8px 8px;
		font-size: 13px;
		background-color: white;
		color: black;
		margin-top: 19px;
	}
#submit:hover{
		background-color: #DF4242;
		color: white;
		cursor: pointer;
	}